div {
    margin: 5px;
    background-color: lightgray;
    border-radius: 3px;
}

.selected div {
    color: darkblue;
    background-color: #969696;
}

a {
    text-decoration: none;
    color: darkblue;
}