#main-nav-bar {
    border-bottom-style: solid;
}

a {
    text-decoration: none;
    color: black;
}

#main-nav-bar a{
    margin: 5px;
    display: inline-block;
}

#main-nav-bar span{
    background-color: lightgray;
    border-radius: 3px;
}

.loginUser {
    float: right;
}
